.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ff922b;
    color: #ff8a2b;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: rgb(255, 255, 255);
    background-color: #ff8a2b;
  }
  
  .paginationActive a {
    color: white;
    background-color: #ff922b;
  }
  
  .paginationDisabled a {
    
    background-color: white;
  }